.tittleh4:hover {
  /* background-color: rgb(252, 111, 111); */
  /* background-color: #ff4c29; */
  /* background-color: #e06469; */
  color: red;
  /* background-color: #ed2b2a; */
  /* color: white; */
  /* font-size: xx-large; */
  /* font-weight: bold; */
  text-align: center;
}

.tittleh5:hover {
  /* background-color: rgb(252, 111, 111); */
  /* background-color: #e06469; */
  /* background-color: red; */

  color: red;

  /* background-color: #ff4c29; */
  /* background-color: #ed2b2a; */
  /* color: black; */
  /* font-size: xx-large; */
  /* font-weight: bold; */
  /* padding: 5px; */
}
